@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
*{
  font-family: 'Pretendard-Regular';
}
body {
  margin: 0;
  background: #f9f9f9;
  color: #1a1a1a;
}

.container {
  max-width: 600px;
  margin: 80px auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 40px;
  animation: fadeIn 1.2s ease-in-out;
}

.song {
  background: white;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
  animation: fadeIn 1.2s ease-in-out;
}

.song:hover {
  transform: translateY(-4px);
}

.album-cover {
  width: 50%;
  border-radius: 15px;
  margin-bottom: 15px;
}


.song-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 5px 0;
}

.artist {
  font-size: 1rem;
  color: #555;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background: #000;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #333;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
